<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="/blog" method="POST">
    	<div class="row">
    		<input type="text" placeholder="Enter your text..." class="form-control chat-input" name = "msg">
    	</div>
    	<div class="row">
   			<br><br>
    		<input class="submit" type="submit" value="Send">
    	</div>
    <br>	
	</form>
	{%if message%}
	{%for i in message%}
	
        {%if admin == True%}
    			
    			<button onclick = "remove({{i}})">Remove Post</button>
    		{%endif%}
        <p>{{message[i]['msg']}}</p>
        
        {%endfor%}
        {%endif%}
   	<br><br>
</body>
</html>