<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<center>
		<h1>TIME TABLE</h1>
	</center>
		<table border="5" cellspacing="0" align="center">
		<!--<caption>Timetable</caption>-->
		<tr>
			<td align="center" height="50"
				width="100"><br>
				<b>Day/Period</b></br>
			</td>
			<td align="center" height="50"
				width="100">
				<b>I<br>9:30-10:00</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>II<br>10:00-11:00</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>III<br>11:00-12:00</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>12:00-13:40</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>IV<br>13:40-15:00</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>V<br>15:00-15:45</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>VI<br>15:45-16:30</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>VII<br>16:30-17:00</b>
			</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Monday</b></td>
			<td align="center" height="50">welcoming</td>
			<td align="center" height="50">breakfast</td>
			<td align="center" height="50">breaking the ice</td>
			<td rowspan="6" align="center" height="50">
				<h2>L<br>U<br>N<br>C<br>H</h2>
			</td>
			<td colspan="3" align="center"
				height="50">talk</td>
			<td align="center" height="50">saying bye+cleaning</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Tuesday</b>
			</td>
			<td colspan="3" align="center"
				height="50">art activity
			</td>
			<td align="center" height="50">food</td>
			<td align="center" height="50">talk</td>
			<td align="center" height="50">fun activity</td>
			<td align="center" height="50">feedback +cleaning</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Wednesday</b>
			</td>
			<td align="center" height="50">gathering</td>
			<td align="center" height="50">breakfast</td>
			<td align="center" height="50">talk</td>
			<td align="center" height="50">activity</td>
			<td colspan="3" align="center"
				height="50">talk+saying bye+ cleaning </td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Thursday</b>
			</td>
			<td align="center" height="50">gathering</td>
			<td align="center" height="50">food</td>
			<td align="center" height="50">talk</td>
			<td colspan="3" align="center"
				height="50">activity
			</td>
			<td align="center" height="50">food+ breaking the ice</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Friday</b>
			</td>
			<td colspan="3" align="center"
				height="50">talk + gathering
			</td>
			<td align="center" height="50">food</td>
			<td align="center" height="50">fun facts</td>
			<td align="center" height="50">bye bye</td>
			<td align="center" height="50">cleaning </td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>talk + conclusion</b>
			</td>
			<td align="center" height="50">foood</td>
			<td align="center" height="50">activity</td>
			<td align="center" height="50">reflection</td>
			<td colspan="3" align="center"
				height="50">fedback </td>
			<td align="center" height="50">cleaning + small festival </td>
		</tr>
	</table>



</body>
</html>