<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<center>
		<h1>TIME TABLE</h1>
	</center>
		<table border="5" cellspacing="0" align="center">
		<!--<caption>Timetable</caption>-->
		{%if admin==True%}
			<form name="form1" method='POST' action='/contact'>
		{%endif%}
		<tr>
			<td align="center" height="50"
				width="100"><br>
				<b>Day/Period</b></br>
			</td>
			{%if admin==False%}
				{%for i in periods%}
					<td align="center" height="50" width="100">
					<b>{{i}}<br>{{periods[i]}}</b>
					</td>
				{%endfor%}
			{%else%}
				
				{%for i in periods%}
					<td align="center" height="50" width="100">
						<b>{{i}}</b>
						</br>
						<input type="text" name="{{i}}" placeholder="{{periods[i]}}" style="width:90%;">
					</td>
				{%endfor%}
			{%endif%}
		</tr>
		{%if admin==False%}
			{%for i in schedule%}
				<tr>
					<td align="center" id="{{i}}" height="50"><b>{{i}}</b></td>
					{%for k in range(7)%}
						<td align="center" id="{{i}}{{k}}" height="50">
							{{schedule[i][k]}}
						</td>
					{%endfor%}
				</tr>
			{%endfor%}
		{%else%}
			{%for i in schedule%}
				<tr>
					<td align="center" height="50"><b>{{i}}</b></td>
					{%for k in range(7)%}
						<td align="center"height="50">
							<input type="text" name="{{i}}{{k}}" placeholder="{{schedule[i][k]}}" style="width:90%;">
						</td>
					{%endfor%}
				</tr>
			{%endfor%}
		{%endif%}
	</table>
</body>
</html>