<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contact</title>
</head>
<body>


<ul class="icons">
							<li><a href="https://twitter.com/i/flow/login" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1641099308&extra_1=s%7Cc%7C314920565650%7Ce%7Cfacebook%7C&placement=&creative=314920565650&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1641099308%26adgroupid%3D62120105989%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D20519%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwxIOXBhCrARIsAL1QFCZCvbx1IE5B5TKCCwq_d7CyxAAaN2MtOSRIdr2mUg-r-Zatee2HxfsaAmZCEALw_wcB" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.google.co.il/?hl=iw" class="icon style2 fa-google"><span class="label">google</span></a></li>
							<li><a href="https://play.google.com/store/apps/details?id=com.google.android.gm&hl=en_US&gl=US" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>




</body>
</html>